In [3]:
import os
from pathlib import Path

import pandas as pd
from Bio import SeqIO

if os.getcwd().endswith('notebook'):
    os.chdir('..')

In [14]:
base_folder = Path(os.path.expanduser('~')) / 'Documents' / 'afpd' / 'T_kodakarensis'
base_folder.is_dir()

True

In [ ]:
fasta_path = Path('/Users/rs1521/Documents/afpd/T_kodakarensis/T_kodakarensis.fasta')
fasta_path.is_file()

In [23]:
bait_id = 'Q9Y8I2'
scores_df = pd.read_csv(base_folder / 'outputs' / f'{bait_id}_scores.csv')
scores_df.head()

               id  plddt   ptm  iptm   dockq
0  Q9Y8I2__Q9Y8I1  96.89  0.91  0.91  0.7091
1  Q9Y8I2__Q9Y8I2  97.10  0.91  0.91  0.7076
2  Q9Y8I2__Q5JIZ6  83.84  0.50  0.08  0.6056
3  Q9Y8I2__Q5JGL9  87.62  0.60  0.06  0.5839
4  Q9Y8I2__Q5JDQ6  89.16  0.87  0.18  0.5805

In [24]:
len(scores_df)

2267

In [25]:
records_dict = SeqIO.to_dict(SeqIO.parse(fasta_path, 'fasta'))
len(records_dict)

2301

In [26]:
scores_df['target_uniprot_id'] = scores_df['id'].apply(
    lambda idx: idx.split('__')[1]
)
scores_df['target_description'] = scores_df['target_uniprot_id'].apply(
    lambda uniprot_id: records_dict[uniprot_id].description.replace(uniprot_id, '').strip()
)
scores_df.head()

,id,plddt,ptm,iptm,dockq,target_uniprot_id,target_description
0,Q9Y8I2__Q9Y8I1,96.89,0.91,0.91,0.7091,Q9Y8I1,Archaeal histone A OS=Thermococcus kodakarensi...
1,Q9Y8I2__Q9Y8I2,97.10,0.91,0.91,0.7076,Q9Y8I2,Archaeal histone B OS=Thermococcus kodakarensi...
2,Q9Y8I2__Q5JIZ6,83.84,0.50,0.08,0.6056,Q5JIZ6,"Predicted transcription regulator, containing ..."
3,Q9Y8I2__Q5JGL9,87.62,0.60,0.06,0.5839,Q5JGL9,"Predicted transcription regulator, Lrp/AsnC fa..."
4,Q9Y8I2__Q5JDQ6,89.16,0.87,0.18,0.5805,Q5JDQ6,Acylamino acid-releasing enzyme OS=Thermococcu...

In [27]:
scores_df.to_csv(
    base_folder / 'outputs' / f'{bait_id}_scores_annotated.csv',
    index=False,
)